.redheading {
    color: red;
    
}
.uppercase{

    text-transform: uppercase;
}
.center{

   
    justify-content: center;
    text-align: center;
}
.button1{

    background-color: aquamarine;
    color:black;
    
}
a{
    text-decoration: none;
}